.wrap-transaction h2 {
  text-align: center;
}
.transaction{
  /* box-shadow: 0 0 8px #fff; */
  background-color: white;
  margin-left: 1em;
}
.wrap-transaction {
  display: flex;
  flex-direction: row-reverse;
  gap: 3em;
}
.expense-history {
  flex: 1;
}
.expense-history ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 0.4em;
  margin: 2em;
  padding: 0 1em;
}
.expense-history ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.6em;
  background-color: white;
  border-radius: 6px;
}
.flex-expense {
  display: flex;
  gap: 0.8em;
  align-items: center;
}
.flex-expense p{
  display: flex;
  gap: 0.4em;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}
.flex-expense .amount-expense{
  font-size: 18px;
  color: red;
  font-weight: bold;
}
.logo-category{
  background-color: #f7f7f7;
  padding: 0.2em;
  border-radius: 4px;
}
.tot-exp{

  color: red;
}
.tot-exp-container {
  background-color: white;
  border-radius: 7px;
  margin: 2em;
padding: 0.7em;
}