.transaction {
  padding: 15px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  flex-basis: 35%;
}

.transaction h2 {
  margin-bottom: 20px;
  /* color: #333; */
  text-align: center;
}

.transaction form div {
  margin-bottom: 15px;
}

.transaction label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.transaction input[type="text"],
.transaction input[type="number"],
.transaction select,
.transaction textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: transparent;
}

.transaction input[type="text"]:focus,
.transaction input[type="number"]:focus,
.transaction select:focus,
.transaction textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.transaction textarea {
  resize: vertical;
  min-height: 80px;
}
.transaction form {
  width: 100%;

  max-width: 480px;
  margin: 0 auto;
}
.transaction form button {
  display: block;
  width: 100%;
  padding: 14px 0;
  color: #fff;
  border: none;
  border-radius: 1.6em;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.transaction form .submit-green {
  background-color: rgb(2, 144, 2);

}
.transaction form .submit-red {
  background-color: red;
}
.transaction form .submit-green:hover {
  background-color: green;
}
.transaction form .submit-red:hover {
  background-color: rgb(225, 4, 4);
}
